<a href="https://colab.research.google.com/github/zeppelin-slash/Hotel-Recommnder/blob/main/Final_Project_Hybrid_Hotel_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn import tree
from sklearn import preprocessing

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#Library for Collaborative filtering
!pip install surprise
from surprise import Reader,Dataset,SVD
from surprise.model_selection import cross_validate
import warnings;warnings.simplefilter('ignore')
%matplotlib inline

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)

## **Aim: To build a hotel recommendation system using user preferences, city and a hotel name.**

In [ ]:
hotel_data = pd.read_csv('https://raw.githubusercontent.com/cjflanagan/cs68/master/Datafiniti_Hotel_Reviews%20-%20Datafiniti_Hotel_Reviews.csv')
hotel_data.columns = hotel_data.columns.str.strip()
hotel_data.columns = hotel_data.columns.str.replace(".","_")

In [ ]:
hotel_data.head()

                     id  ...                                           websites
0  AVwc252WIN2L1WUfpqLP  ...                      http://www.ranchovalencia.com
1  AVwc252WIN2L1WUfpqLP  ...                      http://www.ranchovalencia.com
2  AVwc252WIN2L1WUfpqLP  ...                      http://www.ranchovalencia.com
3  AVwdOclqIN2L1WUfti38  ...  http://www.starwoodhotels.com/alofthotels/prop...
4  AVwdOclqIN2L1WUfti38  ...  http://www.starwoodhotels.com/alofthotels/prop...

[5 rows x 25 columns]

In [ ]:
hotel_data['reviews_text']

0       Our experience at Rancho Valencia was absolute...
1       Amazing place. Everyone was extremely warm and...
2       We booked a 3 night stay at Rancho Valencia to...
3       Currently in bed writing this for the past hr ...
4       I live in Md and the Aloft is my Home away fro...
                              ...
3964                           Nice hotel/ great location
3965    very nice stay.. will be back to another location
3966    Only stayed one night but that was enough to e...
3967    I have been staying at the Four Points Sherato...
3968    Thank you Erik for taking care of my friends a...
Name: reviews_text, Length: 3969, dtype: object

Content Based Recommendation on Hotel Reviews

In [ ]:
hotel_data.shape

hotel_data['reviews_title'] = hotel_data['reviews_title'].replace(np.nan, '', regex=True)

In [ ]:
#aggregate text data by hotel,city

data = hotel_data.groupby(['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys']).agg(lambda x: ', '.join(list(set(list(x))))).reset_index()

#data = hotel_data.groupby(['city','country','postalCode','province']).agg(lambda x: ', '.join(list(set(list(x))))).reset_index()

In [ ]:
reviews_mean = hotel_data.groupby(['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys'])['reviews_rating'].agg(['mean']).rename({'mean':'reviews_mean'},axis=1)
reviews_count = hotel_data.groupby(['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys'])['reviews_username'].agg(['count']).rename({'count':'reviews_count'},axis=1)
#temp = hotel_data.groupby('card1')['TransactionAmt'].agg(['mean']).rename({'mean':'TransactionAmt_card1_mean'},axis=1)
df = pd.merge(data,reviews_mean,on=['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys'],how='left')
hotel_agg = pd.merge(df,reviews_count,on=['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys'],how='left')
hotel_agg.head()

                     id             dateAdded  ... reviews_mean reviews_count
0  AV-TGsFqRxPSIh2RmVF-  2017-11-06T20:51:12Z  ...     4.285000            50
1  AV-TGuWBa4HuVbedGcJK  2017-11-06T20:51:11Z  ...     4.529412            51
2  AV-TGwK3IxWefVJwr5IJ  2017-11-06T20:51:11Z  ...     4.438043           138
3  AV-TGwqGIxWefVJwr5Ji  2017-11-06T20:51:12Z  ...     4.385714             7
4  AV0J-cFz-gnIPe8DU7eF  2017-07-03T19:42:29Z  ...     5.000000             1

[5 rows x 24 columns]

In [ ]:
data.shape

(478, 22)

In [ ]:
data.head()

                     id  ...                                           websites
0  AV-TGsFqRxPSIh2RmVF-  ...                         http://theboxerboston.com/
1  AV-TGuWBa4HuVbedGcJK  ...                     http://www.stregisnewyork.com/
2  AV-TGwK3IxWefVJwr5IJ  ...                        http://www.kinziehotel.com/
3  AV-TGwqGIxWefVJwr5Ji  ...               http://www.thehotelofsouthbeach.com/
4  AV0J-cFz-gnIPe8DU7eF  ...  https://ad.doubleclick.net/ddm/clk/317271033;1...

[5 rows x 22 columns]

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

Missing Data check

In [ ]:
#missing data
total = data.isna().sum().sort_values(ascending=False) 
percent = (data.isna().sum()/data.isna().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(50)

                    Total  Percent
websites                0      0.0
sourceURLs              0      0.0
dateAdded               0      0.0
dateUpdated             0      0.0
address                 0      0.0
categories              0      0.0
primaryCategories       0      0.0
city                    0      0.0
country                 0      0.0
latitude                0      0.0
longitude               0      0.0
name                    0      0.0
postalCode              0      0.0
province                0      0.0
keys                    0      0.0
reviews_date            0      0.0
reviews_dateSeen        0      0.0
reviews_sourceURLs      0      0.0
reviews_text            0      0.0
reviews_title           0      0.0
reviews_username        0      0.0
id                      0      0.0

Cleaning

In [ ]:
data.columns = data.columns.str.strip()
data.columns = data.columns.str.replace(".","_")
data.tail()

                       id  ...                                           websites
473  AWKpYhaja4HuVbedPVes  ...            http://lordbalfour.room-matehotels.com/
474  AWKr8UBHa4HuVbedPWl2  ...                           http://www.miyakoinn.com
475  AWKuEeWka4HuVbedPXff  ...  http://www.marriott.com/hotels/travel/chiac-ac...
476  AWNSHai33-Khe5l_ifzh  ...                         http://www.hotelrenew.com/
477  AWUPNmq6IxWefVJw3c71  ...  https://www.marriott.com/hotels/travel/chiox-m...

[5 rows x 22 columns]

Process Reviews

In [ ]:
data['reviews_text'] = data['reviews_text'].replace(np.nan, '', regex=True)
tfidf_matrix = tfidf.fit_transform(data['reviews_text'])
tfidf_matrix.shape

(478, 10522)

In [ ]:
tfidf_matrix

<478x10522 sparse matrix of type '<class 'numpy.float64'>'
	with 66930 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.18603629, 0.67962979, ..., 0.3999553 , 0.27874103,
        0.09303662],
       [0.18603629, 1.        , 0.2116688 , ..., 0.10533665, 0.24770492,
        0.08332678],
       [0.67962979, 0.2116688 , 1.        , ..., 0.46147939, 0.31291923,
        0.11929109],
       ...,
       [0.3999553 , 0.10533665, 0.46147939, ..., 1.        , 0.18464087,
        0.08465337],
       [0.27874103, 0.24770492, 0.31291923, ..., 0.18464087, 1.        ,
        0.08108403],
       [0.09303662, 0.08332678, 0.11929109, ..., 0.08465337, 0.08108403,
        1.        ]])

In [ ]:
pd.DataFrame(cosine_sim, columns=data.name.values, index=data.name.values)

                                                  The Boxer  ...  Moxy Chicago Downtown
The Boxer                                          1.000000  ...               0.093037
The St. Regis New York                             0.186036  ...               0.083327
Kinzie Hotel                                       0.679630  ...               0.119291
The Hotel of South Beach                           0.427397  ...               0.039954
Embassy Suites by Hilton Boston at Logan Airport   0.072047  ...               0.024555
...                                                     ...  ...                    ...
Room Mate Lord Balfour                             0.624001  ...               0.066403
Miyako Hotel Los Angeles                           0.492331  ...               0.050868
AC Hotel Chicago Downtown                          0.399955  ...               0.084653
Hotel Renew                                        0.278741  ...               0.081084
Moxy Chicago Downtown                              0.093037  ...               1.000000

[478 rows x 478 columns]

In [ ]:
indices = pd.Series(data.index, index=data.name).drop_duplicates()
indices

name
The Boxer                                             0
The St. Regis New York                                1
Kinzie Hotel                                          2
The Hotel of South Beach                              3
Embassy Suites by Hilton Boston at Logan Airport      4
                                                   ...
Room Mate Lord Balfour                              473
Miyako Hotel Los Angeles                            474
AC Hotel Chicago Downtown                           475
Hotel Renew                                         476
Moxy Chicago Downtown                               477
Length: 478, dtype: int64

In [ ]:
idx = indices['Moxy Chicago Downtown']
idx

477

In [ ]:
sim_scores = list(enumerate(cosine_sim[idx]))
sim_scores

[(0, 0.09303662320737813),
 (1, 0.08332678353951299),
 (2, 0.11929108566897169),
 (3, 0.03995356392355642),
 (4, 0.024555053893198456),
 (5, 0.006335804293511518),
 (6, 0.0),
 (7, 0.0820193323695961),
 (8, 0.018957033318610237),
 (9, 0.051983003762280065),
 (10, 0.07088359037218857),
 (11, 0.0516425794142789),
 (12, 0.07236093382967831),
 (13, 0.008881030565016025),
 (14, 0.04850502577320111),
 (15, 0.017773339943662165),
 (16, 0.08623365462444485),
 (17, 0.01145673391460737),
 (18, 0.01074715008004615),
 (19, 0.04349370153192391),
 (20, 0.005580629416688474),
 (21, 0.05013648812020299),
 (22, 0.0865430980556469),
 (23, 0.05409779171687673),
 (24, 0.0020520137284097397),
 (25, 0.013102098665310839),
 (26, 0.04079511720563558),
 (27, 0.02293029034832332),
 (28, 0.06205559679169966),
 (29, 0.019503687611267317),
 (30, 0.05218233429161126),
 (31, 0.07509013277407002),
 (32, 0.028727044054719784),
 (33, 0.06455274215820328),
 (34, 0.057025714007088335),
 (35, 0.027809612368926998),
 (36, 0.021210075127345872),
 (37, 0.058438899483665006),
 (38, 0.0),
 (39, 0.051909528945456834),
 (40, 0.03420175619066563),
 (41, 0.06187925149089529),
 (42, 0.007349551904965258),
 (43, 0.058561105073939954),
 (44, 0.09106292325465548),
 (45, 0.017444961852731047),
 (46, 0.0020580226010640935),
 (47, 0.03658956872857473),
 (48, 0.025991494833594152),
 (49, 0.010183327632182325),
 (50, 0.032887126653102276),
 (51, 0.05168966313141216),
 (52, 0.03978289301702977),
 (53, 0.050254823775556255),
 (54, 0.058034939842138575),
 (55, 0.04269567032179469),
 (56, 0.015405441477840948),
 (57, 0.00889541472626805),
 (58, 0.04567880625369438),
 (59, 0.040568380482154776),
 (60, 0.028192603431348023),
 (61, 0.05087954759195852),
 (62, 0.005086261014544217),
 (63, 0.02013374170723682),
 (64, 0.03992477342529976),
 (65, 0.07407553801603314),
 (66, 0.030588629942122747),
 (67, 0.0513987407440565),
 (68, 0.021702436716489353),
 (69, 0.10389042212043259),
 (70, 0.05940884254704908),
 (71, 0.07230426284832303),
 (72, 0.008484392191789815),
 (73, 0.022893316231938285),
 (74, 0.03802859850371213),
 (75, 0.07341007889890946),
 (76, 0.03414355654820499),
 (77, 0.004480333194432011),
 (78, 0.0937278750327032),
 (79, 0.021104956621115483),
 (80, 0.030542102615876383),
 (81, 0.028295897607309217),
 (82, 0.036681193872814905),
 (83, 0.02382449215785084),
 (84, 0.06058619607261489),
 (85, 0.056065860771068766),
 (86, 0.06876468606695046),
 (87, 0.016555591598120502),
 (88, 0.12470151710160804),
 (89, 0.0721396290364125),
 (90, 0.05177352104318505),
 (91, 0.026217643439627798),
 (92, 0.040920064098645674),
 (93, 0.07782363162835597),
 (94, 0.08916946930843618),
 (95, 0.06448435469570031),
 (96, 0.00437093480666198),
 (97, 0.04430592680758673),
 (98, 0.06041047077053996),
 (99, 0.06513121542200846),
 (100, 0.06973327098303242),
 (101, 0.09691389173534326),
 (102, 0.02007481985654139),
 (103, 0.018164833400536165),
 (104, 0.03951058127743995),
 (105, 0.042992757159089366),
 (106, 0.0437744112045576),
 (107, 0.02302011863683444),
 (108, 0.004672315423892962),
 (109, 0.03673372689373236),
 (110, 0.0952309443214171),
 (111, 0.005572332143624838),
 (112, 0.050388340111614284),
 (113, 0.038805907615224844),
 (114, 0.05772309002806934),
 (115, 0.04023719845093469),
 (116, 0.0364299017213367),
 (117, 0.02379551480217969),
 (118, 0.018588815391967717),
 (119, 0.08181006273077834),
 (120, 0.08731456252433312),
 (121, 0.054496996578449725),
 (122, 0.10054675350529878),
 (123, 0.016917772678965336),
 (124, 0.03625793781265975),
 (125, 0.046174110811459786),
 (126, 0.0767384025279145),
 (127, 0.031660344922848284),
 (128, 0.019502769802397076),
 (129, 0.05724782745763305),
 (130, 0.005488521745714845),
 (131, 0.11175700639259367),
 (132, 0.04902677081548233),
 (133, 0.025392794783143068),
 (134, 0.038167557686087386),
 (135, 0.09752400683254292),
 (136, 0.007676816099927987),
 (137, 0.08104137293667273),
 (138, 0.0),
 (139, 0.028944591450946418),
 (140, 0.02740996919862719),
 (141, 0.050369434107580546),
 (142, 0.0283332795120801),
 (143, 0.06234946559691593),
 (144, 0.029172386007250015),
 (145, 0.01529024923870207),
 (146, 0.08396491785622082),
 (147, 0.009140401686404571),
 (148, 0.02837511733841922),
 (149, 0.009913651164205213),
 (150, 0.06271027308358437),
 (151, 0.045240436559341436),
 (152, 0.042808896473744584),
 (153, 0.0628712482619751),
 (154, 0.0606619209549025),
 (155, 0.05222717961486143),
 (156, 0.08262545087130396),
 (157, 0.012728920243756409),
 (158, 0.026925947649523056),
 (159, 0.05397950929214632),
 (160, 0.031489076232737764),
 (161, 0.006708995904782857),
 (162, 0.02728043870689005),
 (163, 0.022876474974862157),
 (164, 0.004853547651222018),
 (165, 0.07925582392890121),
 (166, 0.05799704046555058),
 (167, 0.01162013780883002),
 (168, 0.02294977392586326),
 (169, 0.0031602107487644976),
 (170, 0.08509196221260204),
 (171, 0.07203753391308011),
 (172, 0.015652077795155435),
 (173, 0.0432383877005252),
 (174, 0.0059622117414352025),
 (175, 0.05399709860901735),
 (176, 0.07917495049929933),
 (177, 0.019808610043751007),
 (178, 0.04315456675739656),
 (179, 0.016555311790984132),
 (180, 0.05678126388821941),
 (181, 0.09924200552450677),
 (182, 0.05459344783176538),
 (183, 0.03684643127535653),
 (184, 0.05338181284477427),
 (185, 0.06256035000726322),
 (186, 0.01472728656203444),
 (187, 0.018803575035947116),
 (188, 0.15550362989623337),
 (189, 0.011249255548506596),
 (190, 0.036485956240784455),
 (191, 0.05929714270972438),
 (192, 0.009766008877971511),
 (193, 0.00832188306400467),
 (194, 0.031242858550255923),
 (195, 0.08181007204250888),
 (196, 0.041214140116886504),
 (197, 0.06722017403700105),
 (198, 0.011932434049720837),
 (199, 0.004701615583772337),
 (200, 0.03272857848501362),
 (201, 0.07113012623132345),
 (202, 0.01962341003244956),
 (203, 0.02694926182926608),
 (204, 0.0756046729511508),
 (205, 0.01612101698119587),
 (206, 0.059818055527009965),
 (207, 0.06885395962756571),
 (208, 0.02585845248787675),
 (209, 0.07280842843483108),
 (210, 0.024813756036798855),
 (211, 0.03975632988798969),
 (212, 0.04495415846101162),
 (213, 0.08981718226914952),
 (214, 0.04320175975776982),
 (215, 0.02772539950831022),
 (216, 0.07136118613938686),
 (217, 0.01935282979370715),
 (218, 0.0878154082705974),
 (219, 0.058793554813351814),
 (220, 0.019825966208107157),
 (221, 0.030794639580091862),
 (222, 0.020641580013381525),
 (223, 0.07047935185817603),
 (224, 0.02608578258158062),
 (225, 0.06784376708630695),
 (226, 0.038398952527300766),
 (227, 0.01733160043751278),
 (228, 0.13293397343243085),
 (229, 0.06831696382997579),
 (230, 0.018990950924539975),
 (231, 0.040512971439660025),
 (232, 0.0625101697130269),
 (233, 0.07320069668782611),
 (234, 0.07936408374544002),
 (235, 0.042573242280437656),
 (236, 0.03989833348676143),
 (237, 0.08720422774777375),
 (238, 0.03667336656161585),
 (239, 0.0179612914948927),
 (240, 0.05993601155184209),
 (241, 0.01000855386394641),
 (242, 0.06289226705878205),
 (243, 0.03142946659863202),
 (244, 0.022215921582866994),
 (245, 0.0671559950965426),
 (246, 0.0395804073100118),
 (247, 0.024049792579285793),
 (248, 0.12070194314966919),
 (249, 0.031050631624140818),
 (250, 0.004185808920580913),
 (251, 0.032322277249035684),
 (252, 0.05339090460061369),
 (253, 0.01947740864618972),
 (254, 0.015410450648816961),
 (255, 0.04777925982494649),
 (256, 0.005416080628454714),
 (257, 0.0328094958523352),
 (258, 0.012346955944382482),
 (259, 0.03298145532973247),
 (260, 0.0703331158410536),
 (261, 0.05809537636101125),
 (262, 0.037517225480183915),
 (263, 0.031265000281656435),
 (264, 0.021665871074466096),
 (265, 0.01997925635874898),
 (266, 0.019396023889643742),
 (267, 0.04619344596975931),
 (268, 0.06482228454004166),
 (269, 0.03434316994962777),
 (270, 0.03906600212204884),
 (271, 0.029139346427265712),
 (272, 0.05772734007842537),
 (273, 0.021908087976492036),
 (274, 0.10310820545984802),
 (275, 0.04561486247650725),
 (276, 0.07009693740978978),
 (277, 0.020187315121863638),
 (278, 0.019571669697263296),
 (279, 0.046844480486534466),
 (280, 0.03547286037223451),
 (281, 0.011120794386929249),
 (282, 0.03469663532430575),
 (283, 0.01806291082743541),
 (284, 0.0243252399102939),
 (285, 0.03613061905292506),
 (286, 0.027631509330934122),
 (287, 0.01885103508804907),
 (288, 0.06869493628603543),
 (289, 0.020041529847136336),
 (290, 0.014901151111183687),
 (291, 0.006805320082035342),
 (292, 0.091841527156093),
 (293, 0.07296883339481244),
 (294, 0.0546108184237884),
 (295, 0.06846268090244023),
 (296, 0.07544895804822352),
 (297, 0.00924017423922858),
 (298, 0.02525833933938526),
 (299, 0.036966436993500114),
 (300, 0.1051721475947871),
 (301, 0.06179765415847109),
 (302, 0.07199489894781448),
 (303, 0.01866738449506473),
 (304, 0.021540466408092047),
 (305, 0.016720860183713066),
 (306, 0.07022447621545239),
 (307, 0.009582910588380492),
 (308, 0.015745681317942236),
 (309, 0.018432894986813303),
 (310, 0.026164010652405537),
 (311, 0.021738734220766272),
 (312, 0.044331648744986865),
 (313, 0.07502259014147465),
 (314, 0.01896797662663335),
 (315, 0.021099533419835954),
 (316, 0.003125554970949597),
 (317, 0.08016010723209774),
 (318, 0.050172255044761464),
 (319, 0.04455637424035088),
 (320, 0.0),
 (321, 0.02116473333515517),
 (322, 0.08240634857125105),
 (323, 0.037553467164438734),
 (324, 0.04322142964771569),
 (325, 0.07132467252791384),
 (326, 0.007779591131275939),
 (327, 0.006922502517704319),
 (328, 0.010178300978879451),
 (329, 0.016509283162520337),
 (330, 0.011135196539391285),
 (331, 0.016266098433932324),
 (332, 0.020853934217393396),
 (333, 0.02338233586039535),
 (334, 0.06180516123580661),
 (335, 0.011344781779788277),
 (336, 0.10257518075289412),
 (337, 0.01869297017137096),
 (338, 0.07886781483415241),
 (339, 0.02676041157794135),
 (340, 0.030197648451302333),
 (341, 0.10591191747538242),
 (342, 0.04874492123557367),
 (343, 0.03361738452923593),
 (344, 0.01079650280646928),
 (345, 0.0061195394345749735),
 (346, 0.0320661266990329),
 (347, 0.021052930282689987),
 (348, 0.007512766046912596),
 (349, 0.009321220719782287),
 (350, 0.02270535018357839),
 (351, 0.03448079549547892),
 (352, 0.05823079402440273),
 (353, 0.043107815753632865),
 (354, 0.046837073343559785),
 (355, 0.06634339008492832),
 (356, 0.038620628666846867),
 (357, 0.025397942866759355),
 (358, 0.05165143154034524),
 (359, 0.008991184475516048),
 (360, 0.06193729620741124),
 (361, 0.006140718145518048),
 (362, 0.00615152440107304),
 (363, 0.06568795401201599),
 (364, 0.007057355771426603),
 (365, 0.014991064174399),
 (366, 0.012741037933179655),
 (367, 0.04282523941836932),
 (368, 0.07659208604791451),
 (369, 0.07011022590318246),
 (370, 0.03639064575951614),
 (371, 0.018843303806142984),
 (372, 0.036600059571830934),
 (373, 0.0070515182517264475),
 (374, 0.00877982806106197),
 (375, 0.0),
 (376, 0.050274030053632554),
 (377, 0.059384190235221915),
 (378, 0.0031738141609396076),
 (379, 0.012152489807530182),
 (380, 0.03635467424738055),
 (381, 0.040077844807212784),
 (382, 0.0862831765086447),
 (383, 0.03541192626567736),
 (384, 0.004615651109742188),
 (385, 0.034099165440036466),
 (386, 0.06714871332147021),
 (387, 0.019868764932096095),
 (388, 0.006035475532207939),
 (389, 0.1135833417247644),
 (390, 0.016987241439434277),
 (391, 0.062788870136638),
 (392, 0.05087936270192513),
 (393, 0.018218469180168118),
 (394, 0.09523947416276973),
 (395, 0.11549619569833129),
 (396, 0.019802361924390565),
 (397, 0.030711268647667534),
 (398, 0.010216937459234974),
 (399, 0.03622676007810365),
 (400, 0.07350198655136983),
 (401, 0.008790693016545307),
 (402, 0.0062496048523922295),
 (403, 0.045599674042716476),
 (404, 0.07329395266695814),
 (405, 0.051677318145943514),
 (406, 0.00895817138683589),
 (407, 0.005107696774346127),
 (408, 0.10649999655225517),
 (409, 0.05009006488547025),
 (410, 0.03845624180840716),
 (411, 0.08913777564756964),
 (412, 0.022926358935601812),
 (413, 0.056582348714278946),
 (414, 0.04353614988314172),
 (415, 0.025707393145100205),
 (416, 0.06019689643147236),
 (417, 0.059128632422016277),
 (418, 0.0286276603115517),
 (419, 0.01721185550085963),
 (420, 0.010583020764577709),
 (421, 0.03299832369005011),
 (422, 0.07903773878379265),
 (423, 0.0443295897809005),
 (424, 0.05175227822026946),
 (425, 0.013861373399836714),
 (426, 0.08967136585285268),
 (427, 0.06057583303300173),
 (428, 0.061471618988067835),
 (429, 0.04716695676775586),
 (430, 0.013739174040983789),
 (431, 0.052327207962438026),
 (432, 0.04830807050612427),
 (433, 0.02724098442737391),
 (434, 0.09608722784209317),
 (435, 0.01710405244073374),
 (436, 0.030756357015553147),
 (437, 0.08600245637597173),
 (438, 0.07567118708398102),
 (439, 0.05764085519690287),
 (440, 0.06837040054824206),
 (441, 0.015116591061990307),
 (442, 0.07754708074098414),
 (443, 0.08931417972076663),
 (444, 0.07770973322868195),
 (445, 0.011426054823831562),
 (446, 0.020151744629459827),
 (447, 0.12570013622112405),
 (448, 0.00871027581051399),
 (449, 0.06238520581620897),
 (450, 0.12838334738238932),
 (451, 0.09296538908488244),
 (452, 0.10913495743917495),
 (453, 0.025194938673965148),
 (454, 0.03706152690939725),
 (455, 0.03739498460764172),
 (456, 0.09858695994582),
 (457, 0.05038160062542131),
 (458, 0.07983241865204754),
 (459, 0.07745578238642861),
 (460, 0.0),
 (461, 0.0820205116542968),
 (462, 0.10378820940755655),
 (463, 0.11740146609567163),
 (464, 0.04912275970600789),
 (465, 0.0943941626304306),
 (466, 0.04703836706277151),
 (467, 0.1082857714104328),
 (468, 0.09221011438131908),
 (469, 0.07715007821631191),
 (470, 0.0823413017136734),
 (471, 0.08226234566105305),
 (472, 0.06100656382698107),
 (473, 0.0664029136663158),
 (474, 0.05086751082413474),
 (475, 0.08465337185227387),
 (476, 0.08108403073500084),
 (477, 1.0000000000000002)]

In [ ]:
sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)

In [ ]:
sim_scores = sim_scores[1:11]
sim_scores

[(188, 0.15550362989623337),
 (228, 0.13293397343243085),
 (450, 0.12838334738238932),
 (447, 0.12570013622112405),
 (88, 0.12470151710160804),
 (248, 0.12070194314966919),
 (2, 0.11929108566897169),
 (463, 0.11740146609567163),
 (395, 0.11549619569833129),
 (389, 0.1135833417247644)]

In [ ]:
hotel_indices = [i[0] for i in sim_scores]
hotel_indices

[188, 228, 450, 447, 88, 248, 2, 463, 395, 389]

In [ ]:
# Function that takes in name as input and outputs most similar hotels
def get_recommendations(name, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[name]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the hotel indices
    hotel_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return hotel_agg['name'].iloc[hotel_indices]

In [ ]:
get_recommendations('River Hotel')

228                                   Central Loop Hotel
213                       InterContinental San Francisco
2                                           Kinzie Hotel
468                   Hyatt Place Baltimore/Inner Harbor
459    The Troubadour Hotel New Orleans, Tapestry Col...
467                        Hilton Garden Inn BWI Airport
338                                   Omni Royal Orleans
476                                          Hotel Renew
463    DoubleTree by Hilton Hotel Washington DC - Sil...
456                         Hilton Baltimore BWI Airport
Name: name, dtype: object

# **City Based Recommendation**

In [ ]:
review_counts = hotel_agg[hotel_agg['reviews_count'].notnull()]['reviews_count'].astype('float')
review_averages = hotel_agg[hotel_agg['reviews_mean'].notnull()]['reviews_mean'].astype('float')
C = review_averages.mean()
C

3.998570839178892

In [ ]:
m = review_counts.quantile(0.95)
m

39.14999999999998

In [ ]:
qualified = hotel_agg[(hotel_agg['reviews_count'] >= m) & (hotel_agg['reviews_count'].notnull()) & (hotel_agg['reviews_mean'].notnull())][['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','latitude','longitude','name','postalCode','province','keys','reviews_count','reviews_mean']]
qualified['reviews_count'] = qualified['reviews_count'].astype('float')
qualified['reviews_mean'] = qualified['reviews_mean'].astype('float')
qualified.shape

(24, 16)

In [ ]:
def weighted_rating(x):
    v = x['reviews_count']
    R = x['reviews_mean']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [ ]:
qualified.head(15)

                       id             dateAdded  ... reviews_mean        wr
233  AVwdMsswkufWRAb53Vy0  2017-04-10T07:43:42Z  ...     4.503597  4.392613
2    AV-TGwK3IxWefVJwr5IJ  2017-11-06T20:51:11Z  ...     4.438043  4.340920
1    AV-TGuWBa4HuVbedGcJK  2017-11-06T20:51:11Z  ...     4.529412  4.298880
39   AVwc-UVS_7pvs4fz07J4  2017-04-18T11:08:50Z  ...     4.404040  4.289135
338  AVwdygbvIN2L1WUfzOvF  2017-04-18T10:57:07Z  ...     4.500000  4.263909
293  AVwdh6K4ByjofQCxqA0x  2016-11-05T00:16:03Z  ...     4.512195  4.261311
461  AWEw3H-UIxWefVJwyAZ0  2018-01-26T05:06:32Z  ...     4.482609  4.260059
468  AWIajIQMa4HuVbedO4uB  2018-03-12T14:02:50Z  ...     4.388889  4.224842
467  AWIYGr06IxWefVJwzU-7  2018-03-12T01:20:57Z  ...     4.439024  4.223881
471  AWKoW_tYa4HuVbedPVUg  2018-04-09T02:32:32Z  ...     4.350794  4.215801
426  AVzX1GbfFcQ3k02bB73-  2017-06-24T02:00:40Z  ...     4.265657  4.189968
469  AWKkrZYpa4HuVbedPT1I  2018-04-08T09:00:00Z  ...     4.200585  4.162951
473  AWKpYhaja4HuVbedPVes  2018-04-09T07:13:49Z  ...     4.257692  4.160289
0    AV-TGsFqRxPSIh2RmVF-  2017-11-06T20:51:12Z  ...     4.285000  4.159215
93   AVwcgshl_7pvs4fzv3ge  2015-07-09T04:25:41Z  ...     4.280000  4.156411

[15 rows x 17 columns]

In [ ]:
s = hotel_agg.apply(lambda x: pd.Series(x['city']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'city'
gen_md = hotel_agg.drop('city', axis=1).join(s)

In [ ]:
gen_md.shape

(478, 24)

In [ ]:
def build_chart(city, percentile=0.85):
    df = gen_md[gen_md['city'] == city]
    review_counts = hotel_agg[hotel_agg['reviews_count'].notnull()]['reviews_count'].astype('float')
    review_averages = hotel_agg[hotel_agg['reviews_mean'].notnull()]['reviews_mean'].astype('float')
    C = review_averages.mean()
    m = review_counts.quantile(percentile)
    
    qualified = df[(df['reviews_count'] >= m) & (df['reviews_count'].notnull()) & (df['reviews_mean'].notnull())][['id','address','name','reviews_count','reviews_mean']]
    qualified['reviews_count'] = qualified['reviews_count'].astype('float')
    qualified['reviews_mean'] = qualified['reviews_mean'].astype('float')
    
    qualified['wr'] = qualified.apply(lambda x: (x['reviews_count']/(x['reviews_count']+m) * x['reviews_mean']) + (m/(m+x['reviews_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [ ]:
build_chart('Chicago').head(5)

                       id                    address  ... reviews_mean        wr
443  AWE2CYSsIxWefVJwyDrn           203 N Wabash Ave  ...     4.776316  4.468433
2    AV-TGwK3IxWefVJwr5IJ      20 West Kinzie Street  ...     4.438043  4.401676
461  AWEw3H-UIxWefVJwyAZ0     660 North State Street  ...     4.482609  4.379507
23   AV1ha6JpIxWefVJwgDSa  320 North Dearborn Street  ...     4.592857  4.313127
228  AVwdLbuu_7pvs4fz3FIK             111 W Adams St  ...     4.250000  4.153535

[5 rows x 6 columns]

# **Collabartive Filtering using SVD**

In [ ]:
ratings = hotel_data[['reviews_username', 'name', 'reviews_rating']]
ratings.head()

  reviews_username                        name  reviews_rating
0            Paula  Rancho Valencia Resort Spa             5.0
1                D  Rancho Valencia Resort Spa             5.0
2              Ron  Rancho Valencia Resort Spa             5.0
3        jaeem2016         Aloft Arundel Mills             2.0
4       MamaNiaOne         Aloft Arundel Mills             5.0

In [ ]:
reader = Reader()



# get just top 100K rows for faster run time
data = Dataset.load_from_df(ratings[['reviews_username', 'name', 'reviews_rating']], reader)
#data.split(n_folds=3)

svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'fit_time': (0.21581578254699707,
  0.2210392951965332,
  0.21129369735717773,
  0.21054983139038086,
  0.21865510940551758),
 'test_mae': array([0.78206842, 0.75406602, 0.79745693, 0.78415646, 0.78511846]),
 'test_rmse': array([0.98918815, 0.96393348, 1.03986412, 1.01394449, 1.02242915]),
 'test_time': (0.009153127670288086,
  0.0064733028411865234,
  0.006524085998535156,
  0.015334844589233398,
  0.00957179069519043)}

In [ ]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
ratings[ratings['reviews_username'] == 'A verified traveler']

         reviews_username  ... reviews_rating
28    A verified traveler  ...            4.0
29    A verified traveler  ...            5.0
30    A verified traveler  ...            2.0
32    A verified traveler  ...            4.0
34    A verified traveler  ...            4.0
...                   ...  ...            ...
3955  A verified traveler  ...            5.0
3957  A verified traveler  ...            4.0
3958  A verified traveler  ...            4.0
3959  A verified traveler  ...            2.0
3961  A verified traveler  ...            4.0

[311 rows x 3 columns]

In [ ]:
#hotel_data['reviews_username'].value_counts()

A verified traveler    311
Anonymous              155
A Traveler              97
John                    22
David                   20
                      ...
Sarit C                  1
Hope                     1
TruthDIVA                1
MNWinterBlues            1
Teresita M               1
Name: reviews_username, Length: 2918, dtype: int64

In [ ]:
svd.predict('David', 'dana hotel and spa')

Prediction(uid='David', iid='dana hotel and spa', r_ui=None, est=4.526229854637817, details={'was_impossible': False})

# **Hybrid Classifier**

In [ ]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [ ]:
id_map = hotel_agg[['name']]

id_map = id_map.merge(hotel_agg[['name', 'id']], on='name').set_index('name')
id_map = id_map.set_index('name')
id_map

KeyError: ignored

In [ ]:
indices_map = id_map.set_index('name')

KeyError: ignored

In [ ]:
def hybrid(username, hotel):
    idx = indices[hotel]
    

    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    hotel_indices = [i[0] for i in sim_scores]
    
    hotels = hotel_agg.iloc[hotel_indices][['name', 'reviews_count', 'reviews_mean']]
    hotels['est'] = hotels['name'].apply(lambda x: svd.predict(username, sim_scores.loc[idx]['name']).est)
    hotels = hotels.sort_values('est', ascending=False)
    return hotels.head(5)

    hotel_agg.loc()

In [ ]:
idx = indices['River Hotel']
sim_scores = list(enumerate(cosine_sim[int(idx)]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:11]
hotel_indices = [i[0] for i in sim_scores]

In [ ]:
hotel_indices

[228, 213, 2, 468, 459, 467, 338, 476, 463, 456]

In [ ]:
hotels=hotel_agg.iloc[hotel_indices][['name', 'reviews_count', 'reviews_mean']]
hotels.head()

NameError: ignored

In [ ]:
hotels['est'] = hotels['name'].apply(lambda x: svd.predict('John', simscores.loc[hotel_indices]['name']).est)

NameError: ignored

In [ ]:
hybrid('TruthDIVA', 'River Hotel')

AttributeError: ignored